<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline"  text="" class="backBtn"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter évènement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding">

    <ion-segment (ionChange)="typeEventChange($event)" value="task" class="segment" name="typeEvent">
      <ion-segment-button value="task">
        <ion-label>Tâche</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rdv">
        <ion-label>Rendez-vous</ion-label>
      </ion-segment-button>
    </ion-segment>

    <form [formGroup]="addEventForm" #formDirective="ngForm" (ngSubmit)="createEvent(formDirective)">

      <ion-item class="champ" lines="none">
        <ion-label position="floating">Titre</ion-label>
        <ion-input type="text" formControlName="title" required>
        </ion-input>
      </ion-item>

      <ion-item class="champ" lines="none">
        <ion-label position="floating">Description</ion-label>
        <ion-input type="text" formControlName="description">
        </ion-input>
      </ion-item>

      <ion-item *ngIf="typeEvent === 'rdv'" class="champ" lines="none">
        <ion-label position="floating">Lieu</ion-label>
        <ion-input type="text" placeholder="Lieu" formControlName="place"></ion-input>
      </ion-item>

      <ion-item class="champ" lines="none">
        <ion-label position="floating">Date</ion-label>
        <ion-datetime formControlName="startTime" doneText="OK" cancelText="Annuler"
          monthShortNames='jan, fev, mar, avr, mai, juin, juil, août, sept, oct, nov, dec' displayFormat="DD MMM YYYY"
          pickerFormat="DD/MM/YYYY" required></ion-datetime>
      </ion-item>

      <ion-item *ngIf="typeEvent === 'rdv'" class="champ" lines="none">
        <ion-label position="floating">Heure</ion-label>
        <ion-datetime formControlName="startHour" doneText="OK" cancelText="Annuler" displayFormat="HH:mm"
          pickerFormat="HH:mm"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="typeEvent === 'rdv'" class="champ" lines="none">
        <ion-label position="floating">Alerte</ion-label>
        <ion-datetime formControlName="alert" doneText="OK" cancelText="Annuler"
          monthShortNames='jan, fev, mar, avr, mai, juin, juil, août, sept, oct, nov, dec' displayFormat="DD MMM YYYY HH:mm"
          pickerFormat="DD/MM/YYYY HH:mm"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="typeEvent === 'task'" class="champ" lines="none">
        <ion-label position="floating">Répéter</ion-label>
        <ion-select formControlName="repeat" okText="Ok" cancelText="Annuler" interface="action-sheet"
          class="custom-options">
          <ion-select-option value="0">Non</ion-select-option>
          <ion-select-option value="1">1 semaine</ion-select-option>
          <ion-select-option value="2">2 semaines</ion-select-option>
          <ion-select-option value="4">1 mois</ion-select-option>
          <ion-select-option value="8">2 mois</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="typeEvent === 'task'" class="champ" lines="none">
        <ion-label position="floating">Alterner</ion-label>
        <ion-checkbox formControlName="altern" checked="true"></ion-checkbox>
      </ion-item>

      <ion-button class="add" type="submit" [disabled]="!formDirective.form.valid" expand="block">Ajouter</ion-button>

    </form>
  </div>
</ion-content>