<ion-header>
  <ion-toolbar>
    <ion-title>Modifier compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nom d'utilisateur</ion-label>
      <ion-input formControlName="username" type="text"></ion-input>
    </ion-item>

    <ion-button block color="primary" type="submit" [disabled]="userEditForm.invalid" expand="block">
      Enregistrer
    </ion-button>

  </form>
</ion-content>
