<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="myDismiss('back')" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Modifier Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="userEditForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating" class="label">E-Mail</ion-label>
      <ion-input formControlName="email" type="email" class="champ"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="label">Nom d'utilisateur</ion-label>
      <ion-input formControlName="username" type="text" class="champ"></ion-input>
    </ion-item>

    <ion-button expand="block" color="light" shape="round" fill="outline"type="submit" [disabled]="userEditForm.invalid">
      Enregistrer
    </ion-button>

  </form>
</ion-content>
