<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="myDismiss('back')" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Modifier Compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editListForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label class="label">Propriétaire</ion-label>
      <ion-text class="champ">{{userName}}</ion-text>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating" class="label">Nom de liste</ion-label>
      <ion-input formControlName="listName" type="text" class="champ" placeholder="Ex: Courses"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" class="label">Publique</ion-label>
      <ion-checkbox formControlName="public" class="champ"></ion-checkbox>
    </ion-item>

    <ion-button expand="block" color="light" shape="round" fill="outline"type="submit" [disabled]="editListForm.invalid">
      modifier
    </ion-button>
  
  </form>
</ion-content>
