ion-item {
    --ion-background-color: transparent !important;
}

ion-icon {
    padding: 10px;
}

.label {
    color: whitesmoke;
}

.champ {
    color: whitesmoke;
}

.add {
    --color: whitesmoke;
    --background: #8e24aa;
}

.back-btn{
    --color: whitesmoke !important;
}