ion-toolbar {
    --background: #3f51b5;
    --color: #ffcc00;
}

ion-content {
    --ion-background-color: linear-gradient(#3F51B5, #2196F3);
}

.champ{
    --ion-background-color: white;
    border-radius: 30px;
    margin-top: 5px;
  }
  
  .btn{
    --color: #ffcc00;
    --background: linear-gradient(#2196F3, #3F51B5);
  }
  