

<ion-content class="ion-padding">
  <div class="logo">
    <!-- <ion-icon color="light" name="sunny"></ion-icon> -->
    <img src="../../assets/logo.svg">
  </div>
  <form [formGroup]="loginForm" #loginFormValid="ngForm" (ngSubmit)="login()">

    <ion-item>
      <ion-icon name="person" size="small" class="label"></ion-icon>
      <ion-input formControlName="username" color="light" type="text" inputmode="text" placeholder="Nom d'utilisateur" required></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.username">
      <ng-container *ngIf="f.username.hasError(error.type) && (f.username.dirty || f.username.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>
  
    <ion-item>
      <ion-icon name="lock-closed" class="label" size="small"></ion-icon>
      <ion-input formControlName="password" color="light" type="password" inputmode="text" placeholder="********" required></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.password">
      <ng-container *ngIf="f.password.hasError(error.type) && (f.password.dirty || f.password.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <!-- <ion-item lines="none">
      <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
    </ion-item> -->

    <br>
  
    <ion-button type="submit" [disabled]="!loginFormValid.form.valid" expand="block" color="light" shape="round" fill="outline">
      Connexion
    </ion-button>
    <br>
    
  </form>
    <ion-button expand="block" color="primary" shape="round" fill="outline" [routerLink]="['/auth/register']">Inscription</ion-button>

  </ion-content>
