ion-content {
  --ion-background-color: linear-gradient(#8e24aa, #311b92);
  --ion-padding: 20px;
}

.logo img {
  height: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.label{
  color: thistle;
}

.champ{
  color: whitesmoke;
}

.logo {
  position: relative;
  height: 250px;
}

ion-item {
  --ion-background-color: transparent !important;
}

ion-icon {
  padding: 10px;
  }

.flex {
  display: flex;
  justify-content: space-between;
}

.error-message {
  color: #eb445a;
}

ion-input {
  --placeholder-color: white;
}

.content{
  width: 80%;
  text-align: center;
}
