<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="myDismiss()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Modifier Mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="editPasswordForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating" class="label">Ancien mot de passe</ion-label>
      <ion-input formControlName="oldPassword" type="password" inputmode="text" class="champ"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.oldPassword">
      <ng-container *ngIf="f.oldPassword.hasError(error.type) && (f.oldPassword.dirty || f.oldPassword.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" class="label">Nouveau mot de passe</ion-label>
      <ion-input formControlName="newPassword" type="password" inputmode="text" class="champ"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.newPassword">
      <ng-container *ngIf="f.newPassword.hasError(error.type) && (f.newPassword.dirty || f.newPassword.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="floating" class="label">Confirmer mot de passe <ion-text *ngIf="!confirmPasswordValid" color="danger">Différents</ion-text></ion-label>
      <ion-input formControlName="newPasswordConfirm" type="password" inputmode="text" class="champ"></ion-input>
    </ion-item>
    <div *ngFor="let error of errorMessages.newPasswordConfirm">
      <ng-container *ngIf="f.newPasswordConfirm.hasError(error.type) && (f.newPasswordConfirm.dirty || f.newPasswordConfirm.touched)">
        <small class="error-message">{{error.message}}</small>
      </ng-container>
    </div>

    <ion-button expand="block" color="light" shape="round" fill="outline" type="submit" [disabled]="editPasswordForm.invalid">
      Modifier mot de passe
    </ion-button>
    <ion-text color="danger">Vous devrez vous reconnecter après cette modification !</ion-text>

  </form>
</ion-content>
