<ion-header class="header">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center champ ion-padding-horizontal">
          <ion-text class="ion-float">Listes</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-segment (ionChange)="typeListChange()" value="shoppingList" class="segment" name="typeList">
            <ion-segment-button value="shoppingList">
              <ion-label>Courses</ion-label>
            </ion-segment-button>
            <ion-segment-button value="task">
              <ion-label>Tâches</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>