<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="myDismiss()" color="light"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Ajouter Partage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="shareEditForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating" class="label">Nom d'utilisateur</ion-label>
      <ion-input formControlName="username" type="text" class="champ" placeholder="Ex: Attila"></ion-input>
    </ion-item>

    <ion-button expand="block" color="light" shape="round" fill="outline"type="submit" [disabled]="shareEditForm.invalid">
      ajouter
    </ion-button>
  
  </form>

  <h5 class="label">L'utilisateur partagé doit aussi vous ajouter en partage pour que le lien s'active !</h5>
  
</ion-content>
