<ion-header class="header">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center champ ion-padding-horizontal">
          <div class="ion-float-left">
            <a [routerLink]="['/tabs/tab1/add-event']" slot="end">
              <ion-icon *ngIf="currentCalUsername === currentUser.username" color="light" name="add" size="large">
              </ion-icon>
            </a>
          </div>
          <ion-text class="ion-float">Calendrier de {{currentCalUsername}}</ion-text>
          <ion-icon class="ion-float-right" size="large" name="caret-down-circle"
            (click)="presentPopoverShareList($event)"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-slides effect="slide" (ionSlidePrevEnd)="calendarRef.prev()" (ionSlideNextEnd)="calendarRef.prev()">
          <div class="ion-padding">
            <ion-calendar #calendar [(ngModel)]="date" [type]="type" (change)="onChange($event)"
              (monthChange)="onMonthChange($event)" [options]="optionsRange"></ion-calendar>
          </div>
        </ion-slides>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="ion-padding-horizontal ion-padding-bottom" *ngFor="let event of dayEvents">
          <ion-item-sliding>
            <ion-item-options side="start" *ngIf="currentCalUsername === currentUser.username">
              <ion-item-option (click)="deleteEvent(event._id)" class="events" class="delete">Supprimer
              </ion-item-option>
            </ion-item-options>

            <ion-item class="events-label" (click)="onEventClick(event._id, 'rdv')">
              <ion-label>{{ event.startHour }} {{ event.title }}</ion-label>
            </ion-item>
          </ion-item-sliding>
        </div>

        <div class="ion-padding-horizontal ion-padding-bottom" *ngFor="let task of dayTasks">
          <ion-item-sliding lines="none">
            <ion-item-options *ngIf="currentCalUsername === currentUser.username" lines="none" side="start"
              (ionSwipe)="deleteTask(task._id)">
              <ion-item-option lines="none" expandable="true" (click)="deleteTask(task._id)" class="events"
                class="delete">
                Supprimer</ion-item-option>
            </ion-item-options>

            <ion-item lines="none" class="tasks-label" (click)="onEventClick(task._id, 'task')">
              <ion-label lines="none">{{task.title}}</ion-label>
            </ion-item>

            <ion-item-options *ngIf="currentCalUsername === currentUser.username && task.repeat !== 0" lines="none"
              side="end" (ionSwipe)="repeatTask(task._id)">
              <ion-item-option lines="none" (click)="repeatTask(task._id)" expandable="true" class="events"
                class="repeat">
                Répéter</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>