ion-icon {
    padding-right: 10px;
}

.events-label {
    --ion-background-color: whitesmoke;
    font-family: 'Fontastique';
    border-radius: 30px;
    color: black;
}

.tasks-label {
    --ion-background-color: whitesmoke;
    border-radius: 30px;
    color: #8e24aa;
    font-weight: bolder;
}

.delete {
    background-color: rgba(255, 0, 0, 0.5);
    color: whitesmoke;
    border-radius: 30px;
}

.repeat {
    background-color: rgba(0, 255, 0, 0.5);
    color: whitesmoke;
    border-radius: 30px;
}

.ion-padding-bottom {
    padding-bottom: 5px;
}

.champ {
    color: whitesmoke;
}

.no-border {
    border: 0px;
}